# project repository
# (uncomment the following two lines after uploading your project)
darcs /extensions/pThreadSemaphore http://openengine.dk/code/extensions/pThreadSemaphore/
darcs-dev /extensions/pThreadSemaphore fh.daimi.au.dk:/users/cgd/code/extensions/pThreadSemaphore/

# windows libraries
# add libary
win32 /libraries http://openengine.dk/data/libraries/pthread-win32.zip

# darwin libraries

# linux libraries

# project data
