# project repository
# (uncomment the following two lines after uploading your project)
git /extensions/pThreadSemaphore https://github.com/OpenEngineDK/extensions/pThreadSemaphore-.git
git-dev /extensions/pThreadSemaphore git@github.com:OpenEngineDK/extensions/pThreadSemaphore-.git

# windows libraries
# add libary
win32 /libraries http://openengine.dk/data/libraries/pthread-win32.zip

# darwin libraries

# linux libraries

# project data
